<IfModule mod_rewrite.c>
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType application/x-font-woff2 .woff2
AddType image/svg+xml .svg
  RewriteEngine On
  RewriteCond %{HTTP_HOST} !^www\.
  RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /alpha/index.html [L]
</IfModule>
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>
<IfModule mod_headers.c>
	Header always append X-Frame-Options SAMEORIGIN
</IfModule>
<IfModule mod_headers.c>
	Header set X-Content-Type-Options nosniff
</IfModule>
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>
